* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.container {
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

form {
    margin: 0 2rem;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}

input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}

.input-group {
    padding: 1% 0;
    position: relative;
}

.input-group i {
    position: absolute;
    color: black;
}

input:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(green);
}

input::placeholder {
    color: transparent;
}

label {
    color: #757575;
    position: relative;
    left: 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}

input:focus~label,
input:not(:placeholder-shown)~label {
    top: -3em;
    color: black;
    font-size: 15px;
}

.recover {
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.recover a {
    text-decoration: none;
    color: rgb(86, 238, 124);
}

.recover a:hover {
    color: #07001f;
    text-decoration: underline;
}

.button {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(69, 247, 137);
    color: white;
    cursor: pointer;
    transition: 0.9s;
}

.button:hover {
    background: #07001f;
}

.icons {
    text-align: center;
}

.icons i {
    color: rgb(60, 223, 128);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
    margin: 0 15px;
    transition: 1s;
}

.icons i:hover {
    background: #07001f;
    font-size: 1.6rem;
    border: 2px solid rgb(65, 236, 137);
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}

button {
    color: rgb(165, 236, 137);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    text-decoration: underline;
    color: hsl(133, 92%, 60%);
}

---- body,
html {
    margin: 0;
    padding: 0;
    background-color: #151912;
    overflow-x: hidden;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: top;
    align-items: top;
    color: #FFF6F7;
    text-align: center;
}

.section>div {
    width: 90%;
}

.section:nth-child(1) {
    font-size: 20vh;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #151912;
}

.content {
    width: 100vw;
    font-family: "Anton", sans-serif;
}

.section {
    width: 100%;
    height: 1000vh;
    display: flex;
    justify-content: center;
    align-items: top;
    color: #ffffff;
    text-align: center;
}

.section>div {
    width: 100%;
}

.section:nth-child(1) {
    font-size: 30vh;
}

canvas#neuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: .80;
}